.head-raber {
  display: flex;
  flex-direction: column;
}

.header-navigater {
  display: flex;
  justify-content: space-between;
}

.web-tobics {
  color: var(--brand-primary);
}

.header-buttons-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

@media (max-width: 650px) {
}
