.mode-icon-moon {
  background-image: var(--bg-image);
  width: 30px;
  height: 22px;
  margin-top: 1px;
  background-size: contain;
  background-repeat: no-repeat;
}

.mode-icon-heart {
  background-image: var(--bg-image-heart);
  width: 30px;
  height: 22px;
  margin-top: 1px;
  background-size: contain;
  background-repeat: no-repeat;
}

.header-buttons {
  background-color: var(--bg_default);
  color: var(--body-text);
  border-radius: 6px;
  border: 1.5px solid var(--lines-color);
  display: flex;
  align-items: center;
  height: 30px;
}

@media (max-width: 650px) {
  .header-buttons {
    text-indent: -9999px;
  }
}
