.subtopics-box {
  max-width: 500px;
  background-color: var(--bg_default);
  border: 1px solid var(--lines-color);
}
.subtopics-head {
  display: flex;
  width: 100%;
  /* height: 15%; */
  /* margin-top: 0px;
    margin-bottom: 0px; */
  align-items: center;
  margin-left: 25px;
  font-weight: 700;
  font-size: 22px;
  margin-block: 15px;
}
.circle-checked {
  background-image: url(../Icons/circle-checked.svg);
  display: block;
  width: 19px;
  height: 17px;
  margin: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}
.subtopic {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid var(--lines-color);
  height: 14%;
  color: var(--body-text);
}

@media (max-width: 700px) {
  .container-details {
    margin-inline: 20px;
  }
  .container-details {
    margin-inline: 10px;
  }
  .subtopics-box {
    font-size: medium;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  .container-details {
    margin-inline: 20px;
  }
}
