@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --box-shadow: #00000033;
  --bg-image: url("./Icons/moon-defult.svg");
  --bg-image-heart: url("./Icons/heart-defult.svg");
  --bg-image-search: url("./Icons/search-defult.svg");
}
.dark-mode {
  background-color: black;
  color: white;
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #1a1a1a;
  --bg_body: #282828;
  --lines-color: #000000;
  --body-text: #ededed;
  --heart-color: #dc143c;
  --bg-image: url("./Icons/white-moon.svg");
  --bg-image-heart: url("./Icons/white-heart.svg");
  --bg-image-search: url("./Icons/search-dark.svg");
}
#loading_indicator {
  /* position: relative; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 10px solid rgb(93, 92, 92);
  border-radius: 50%;
  border-top: 10px solid rgb(202, 202, 207);
  width: 50px;
  height: 50px;
  animation: spinIndicator 1s linear infinite;
}
@keyframes spinIndicator {
  100% {
    transform: rotate(360deg);
  }
}

body {
  margin: 0px;
  color: var(--body-text);
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--bg_default);
}
/* .container {
  margin-inline: 35px;
} */

.body-container {
  background-color: var(--bg_body);
  padding-top: 5px;
}

@media (max-width: 650px) {
  .container {
    margin-inline: 20px;
  }
}
