.Topic {
  margin-top: 0;
  margin-bottom: 0;
}
.Rating {
  margin-top: 0;
  padding-top: 0;
  display: flex;
}

.IntrestedParag {
  color: #000000;
}

@media (max-width: 700px) {
  .DetailsImage {
    border: 0;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  .Description {
    margin-right: 300px;
  }
}
#loading_indicator {
  /* position: relative; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 10px solid rgb(93, 92, 92);
  border-radius: 50%;
  border-top: 10px solid rgb(202, 202, 207);
  width: 50px;
  height: 50px;
  animation: spinIndicator 1s linear infinite;
}
@keyframes spinIndicator {
  100% {
    transform: rotate(360deg);
  }
}
