.ContainerDetails {
  margin-inline: 25%;
}
.DetailsBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  width: 100%;
  /* height: 275px; */
  background-color: #333232;
  color: white;
}
.DetailsContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.Category {
  color: var(--brand-secondary);
  padding-top: 25px;
  margin-bottom: 0;
}
.Description {
  display: flex;
  padding-bottom: 50px;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 160px;
}
.Topic {
  margin-top: 0;
  margin-bottom: 0;
}
.Rating {
  margin-top: 0;
  padding-top: 0;
  display: flex;
}
/* .section {
  background-color: var(--bg_body);
  height: 700px;
  padding-top: 30px;
} */
.IntrestedParag {
  color: #000000;
}
.AsideBox {
  width: 275px;
  position: absolute;
  left: 64%;
  top: 25%;
  right: 23%;
  background-color: white;
  margin-top: 25px;
}

.DetailsImage {
  width: 99%;
  height: 45%;
  border: 1.5px solid white;
  object-fit: cover;
}
.AsideSmallBox {
  display: flex;
  border: 1px solid #dddddd;
  margin: 15px;
  flex-direction: column;
  align-items: center;
}
.Auother {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 15px;
  margin-bottom: -5px;
  margin-top: 10px;
  color: var(--text-bg-white);
  justify-content: flex-end;
}

.IntrestedParag {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-right: 35px;
  font-size: 14px;
  color: var(--text-bg-white);
}
.AddToFavourit {
  background-color: var(--brand-secondary);
  border: 0px solid;
  color: white;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  font-size: medium;
  padding-left: 15px;
}
.heart-icon {
  margin-left: 10px;
}
.UnlimitedParag {
  margin: 10px;
  color: #a5a2a2;
  font-size: small;
}

.Bolded {
  font-weight: bold;
  margin-right: 5px;
}
@media (max-width: 700px) {
  .Description {
    max-width: 100%;
    padding-bottom: 50px;
    margin-right: 0px;
  }
  .ContainerDetails {
    margin-inline: 20px;
  }
  .container-details {
    margin-inline: 10px;
  }

  .AsideBox {
    background-color: var(--bg_body);
    padding-top: 0px;
    margin-top: 0px;
    width: 100%;
    /* margin-inline: 10px; */
    position: static;
  }

  .DetailsImage {
    border: 0;
  }
  .Auother {
    margin-bottom: 0px;
  }
  .AsideBoxRaber {
    background-color: var(--bg_body);
    padding-top: 25px;
  }
  .AsideSmallBox {
    background-color: white;
    margin-inline: 15px;
    margin-top: 15px;
    margin-bottom: 0px;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  .Description {
    margin-right: 300px;
  }
  .ContainerDetails {
    margin-inline: 20px;
  }
  .AsideBox {
    width: 250px;
    position: absolute;
    left: 64%;
    top: 35%;
    right: 23%;
    background-color: white;
    margin-top: 0px;
  }
}
#loading_indicator {
  /* position: relative; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 10px solid rgb(93, 92, 92);
  border-radius: 50%;
  border-top: 10px solid rgb(202, 202, 207);
  width: 50px;
  height: 50px;
  animation: spinIndicator 1s linear infinite;
}
@keyframes spinIndicator {
  100% {
    transform: rotate(360deg);
  }
}
