.Star {
  background-image: url(/public/Icons/star-filled.svg);
  display: block;
  width: 17px;
  height: 17px;
  margin-top: 1px;
  background-size: contain;
  background-repeat: no-repeat;
}

.StarNotChecked {
  background-image: url(/public/Icons/star-notfill.svg);
  display: block;
  width: 17px;
  height: 17px;
  margin-top: 1px;
  background-size: contain;
  background-repeat: no-repeat;
}
.Rating {
  display: flex;
}
